#about-main {
	margin-top: 120px;
	display: flex;
	flex-direction: row;
	width: 85%;
	min-height: 100vh;
	margin-right: auto;
	margin-left: auto;
}
#about-main-section {
	display: flex;
	flex-direction: column;
	border: 1px #111 solid;
	margin-right: auto;
	margin-left: auto;
}
#about-main-section,
#sidebar {
	margin-bottom: 20px;
}
.about-main-content {
	margin-bottom: 20px;
}
.about-main-content h1,
.about-main-content p {
	padding: 10px 25px;
}
#sidebar {
	margin-right: 20px;
	margin-left: 20px;
	background-color: #f4f4f4; 
	background: #fff;
}
.about-social-links {
	display: flex;
	flex-direction: column;
	margin: 20px;
	justify-content: center;
}
.about-social-links a {
	padding: 12px 22px;
	text-decoration: none;
	color: #407787;
	text-align: center;
}
#sidebar img {
	width: 30%;
}
#sidebar img:hover {
	width: 45px;
}
