#contact-main {
	margin-top: 120px;
	width: 85%;
	min-height: 100vh;
	display: flex;
	flex-direction: column; 
	margin-left: auto;
	margin-right: auto;
}
#contact-main-section {
	display: flex;
	flex-direction: column;
	width: 90%;
}
.contact-main-content {
	display: flex;
	flex-direction: column;
}
.contact-main-content .contact-box {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	margin-top: 30px;
}
.contact-box .contact-img {
	width: 25%; 
	display: flex;
	align-self: center;
	justify-content: center;
}
.contact-img img {
	width: 30%;
}
.contact-text {
	width: 50%;
}
.contact-text p {
	padding: 20px;
}

/****************************
For devices upto 768px width
*****************************/
@media all and (max-width: 768px) {
	#contact-main {
		width: 100%;
	}
	#contact-main-section {
		width: 100%;
	}
	.contact-main-content h1 {
		padding: 10px;
		font-size: 1.4em;
	}
	.contact-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 20px;
	}
	.contact-img img {
		width: 100%;
	}
	.contact-text {
		width: 100%;
	}
	.contact-text p {
		padding: 10px;
		text-align: center;
	}
}