#product-main {
	margin-top: 120px;
	width: 85%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}
.product-main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.product-text-item {
	box-shadow: 2px 4px 8px #444;
	width: 80%;
}

.product-text-item, 
.product-img-item {
	margin-top: 10px;
	margin-bottom: 48px;
}

.product-img-item {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	width: 100%;
}
.img-item-row {
	display: flex;
	flex-direction: row; 
	
	margin: 50px 0; 
	width: 100%;
	height: auto;
	box-shadow: 2px 4px 8px #444;
}
.img-box {
	width: 50%;
}
.img-box img {
	margin: 20px;
	width: 85%;
	height: auto;
	box-shadow: 2px 4px 8px #444;
}

h1, p, ul {
 	padding: 12px 18px;
}
ul li {
	margin-left: 20px;
}
h1 {
	margin-bottom: 25px;
}


/******************************
Media queries
*******************************/
@media screen and (max-width: 768px) {
	#product-main {
		width: 92%;
	}
	.product-main-content {
		width: 100%;
	}
	.product-text-item {
		width: 100%;
	}
	.img-item-row {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	.img-box {
		width: 80%;
	}
	.img-box img {
		width: 98%;
	}
}