<!DOCTYPE html>
<html>
<head>
	<title>Scepter Fabricators </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="Excellent welding and fabrication products in eldoret and western kenya">
    <meta name="keywords" content="fabrication, welding, eldoret, north rift, scepter, engineering, excellent, western kenya">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/about.css">
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="#">Linkedin</a>
			<a href="#">Twitter</a>
			<a href="#">Facebook</a>
			<a href="#">Support</a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<img src="../img/scepter18.png">
			</div>
			<div corporate-name>
				<h4>Scepter Fabricators</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="../index.html">Home</a>
				<a href="../templates/about.html" class="active">About</a>
				<a href="../templates/products.html">What We Do</a>
				<a href="../templates/contacts.html">Contacts</a>
				<a href="#" class="icon-menu">Menu &#9776;</a>
			</nav>
		</div>
	</header>
	<main id="about-main">
		<section id="about-main-section">
			<div class="about-main-content about-text">
				<h1>About us</h1>
				<p>
					Scepter Fabricators is a Fabrication Engineering company. We got started in 2005 and have since then served numerous clients within the Central Rift, North Rift and Western parts of Kenya. Our clients range from universities, technical colleges, polytechnics and schools to construction companies, private entities or businesses and individuals.
				</p>
				<p>
					We are located at Annex in Eldoret, along Nakuru-Eldoret road.
				</p>
				<p>
					Our workforce is qualified and experinced in the industry.
				</p>
			</div>
			<div class="about-google-map about-main-content">
				
			</div>
		</section>
		<sidebar id="sidebar"> 
			<p class="about-social-links">
				<a href="#"><img src="../img/twitter.png"></a>
				<a href="#"><img src="../img/linkedin.png"></a>
				<a href="#"><img src="../img/facebook.png"></a>
			</p>
		</sidebar>
		
	</main>
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="#">Twitter</a>
				<a href="#">LinkedIn</a>
				<a href="#">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Scepter Fabricators<br>
				Annex, Eldoret, Off Nairobi - Nakuru Road,<br>
				P.O. Box 6322 - 30100, Eldoret<br><br>
				farmsscepter@gmail.com &nbsp;|&nbsp; 
				farmsscepter@scepterfabricators.com <br>
				+254722559900 &nbsp;|&nbsp; +254739261447<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				&copy 2020. All Rights Reserved.
			</p>

		</div>
	</footer>
</body>
</html>