<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scepter Fabricators </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="Excellent welding and fabrication products in eldoret and western kenya">
    <meta name="keywords" content="fabrication, welding, eldoret, north rift, scepter, engineering, excellent, western kenya">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/contacts.css">
	<link rel="stylesheet" type="text/css" href="../css/responsive_topnav.css">
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="https://www.linkedin.com/company/37502874/admin/" target="_blank">Linkedin</a>
			<a href="https://twitter.com/scepterfab" target="_blank">Twitter</a>
			<a href="https://www.facebook.com/scepterfabricators/" target="_blank">Facebook</a>
			<a href="#">Support</a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<a href="../index.html"><img src="../img/scepter_logo_1.png"></a>
			</div>
			<div corporate-name>
				<h4>Scepter Fabricators</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="#" class="close-menu">&times;</a>
				<a href="../index.html">Home</a>
				<a href="../templates/about.html">About</a>
				<a href="../templates/products.html">What We Do</a>
				<a href="../templates/contacts.html" class="active">Contacts</a>
			</nav>
			<div class="icon-menu" id="icon-menu">Menu &#9776;</div>
		</div>
	</header>
	<main id="contact-main">
		<section id="contact-main-section">
			<div class="contact-main-content">
				<h1>Get in touch with us today</h1>
				
				<div class="contact-box postal-address">
					<div class="contact-img"><img src="../img/postal_img_0.png"></div>
					<div class="contact-text">
						<p>
							Scepter Fabricators,<br>
							Annex, Eldoret, Off Nairobi - Nakuru Road,<br>
							P.O. Box 6322 - 30100, <br>
							Eldoret, Kenya<br>
						</p>
					</div>
				</div>
				<div class="contact-box phone-number">
					<div class="contact-img"><img src="../img/call_img.png"></div>
					<div class="contact-text">
						<p>
							+254722559900 <br>
							+254739261447<br>
						</p>
					</div>
				</div>
				<div class="contact-box email-address">
					<div class="contact-img"><img src="../img/email_img.png"></div>
					<div class="contact-text">
						<p>
							farmsscepter@scepterfabricators.com <br>
							farmsscepter@gmail.com<br>
						</p>
					</div>
				</div>	
			</div>
			<div class="google-map">
				
			</div>
		</section>
		
		
	</main>
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="https://www.linkedin.com/company/37502874/admin/" target="_blank">Linkedin</a>
				<a href="https://twitter.com/scepterfab" target="_blank">Twitter</a>
				<a href="https://www.facebook.com/scepterfabricators/" target="_blank">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Scepter Fabricators<br>
				Annex, Eldoret, Off Nairobi - Nakuru Road,<br>
				P.O. Box 6322 - 30100, Eldoret<br><br>
				farmsscepter@gmail.com &nbsp;|&nbsp; 
				farmsscepter@scepterfabricators.com <br>
				+254722559900 &nbsp;|&nbsp; +254739261447<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				&copy 2020. All Rights Reserved.
			</p>

		</div>
	</footer>

	<script src="../js/main.js"></script>
</body>
</html>