<!DOCTYPE html>
<html>
<head>
	<title>Scepter Fabricators </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="Excellent welding and fabrication products in eldoret and western kenya">
    <meta name="keywords" content="fabrication, welding, eldoret, north rift, scepter, engineering, excellent, western kenya">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/products.css">
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="#">Linkedin</a>
			<a href="#">Twitter</a>
			<a href="#">Facebook</a>
			<a href="#">Support</a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<img src="../img/scepter18.png">
			</div>
			<div corporate-name>
				<h4>Scepter Fabricators</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="../index.html">Home</a>
				<a href="../templates/about.html">About</a>
				<a href="../templates/products.html" class="active">What We Do</a>
				<a href="../templates/contacts.html">Contacts</a>
				<a href="#" class="icon-menu">Menu &#9776;</a>
			</nav>
		</div>
	</header>
	<main id="product-main">
		<section id="product-main-section">
			<div class="product-main-content">
				<h1>A look at our products</h1>
				<p>
					Window panes
				</p>
				<p>
					Grilled gates
				</p>
				<p>
					Seats
				</p>
				<p>
					Shelves
				</p>
				<p>
					Tables
				</p>
				
			</div>
			<div>
				
			</div>
		</section>
		
		
	</main>
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="#">Twitter</a>
				<a href="#">LinkedIn</a>
				<a href="#">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Scepter Fabricators<br>
				P.O. Box Eldoret<br><br>
				firmscepter@gmail.com &nbsp;|&nbsp; 
				firmscepter@scepterfabricators.com <br>
				+254722559900 &nbsp;|&nbsp; +254722559900<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				&copy 2020. All Rights Reserved.
			</p>

		</div>
	</footer>
</body>
</html>