<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scepter Fabricators </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="Excellent welding and fabrication products in eldoret and western kenya">
    <meta name="keywords" content="fabrication, welding, eldoret, north rift, scepter, engineering, excellent, western kenya">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/products.css">
	<link rel="stylesheet" type="text/css" href="../css/responsive_topnav.css">
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="#">Linkedin</a>
			<a href="#">Twitter</a>
			<a href="#">Facebook</a>
			<a href="#">Support</a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<img src="../img/scepter18.png">
			</div>
			<div corporate-name>
				<h4>Scepter Fabricators</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="#" class="close-menu">&times;</a>
				<a href="../index.html">Home</a>
				<a href="../templates/about.html">About</a>
				<a href="../templates/products.html" class="active">What We Do</a>
				<a href="../templates/contacts.html">Contacts</a>
			</nav>
			<div class="icon-menu" id="icon-menu">Menu &#9776;</div>
		</div>
	</header>
	<main id="product-main">
		<section id="product-main-section">
			<div class="product-main-content">
				<h1>A look at what we do and some of our end products: </h1>

				<div class="product-text-item">
					<p>
						Metal fabrication is the process of designing and manufacturing metal structures while following given specifications.
						The process involves <strong>cutting, shaping, bending and assembling (joining of pieces) </strong>
						of metal ot create products.
						Raw materials used include sheet metal, bar stock, welding rod, metal plate, etc.
					</p>
					<p>
						To pride the best custom products, we are thorough in following specifications on material
						 thickness, lengh, width, height, weight and metal tolerance. 
					</p>
					<p>
						These are some of our end products which we deliver to our clients:
						<ul>
							<li>Shelves</li>
							<li>Tables</li>
							<li>Seats and chairs</li>
							<li>Doors</li>
							<li>Gates</li>
							<li>Window panes</li>
							<li>etc</li>
						</ul>
					</p>
				</div>
				<div class="product-img-item">

<!--  Image row #1 -->
					<div class="img-item-row">
						<div class="img-box"><img src="../img/scepter_9.jpg" alt="window panes"></div>
						<div class="img-box"><img src="../img/scepter_11.jpg" alt="window panes"></div>
					</div>
					
<!--  Image row #2 -->					
					<div class="img-item-row">
						<div class="img-box"><img src="../img/scepter_12.jpg" alt="window panes"></div>
						<div class="img-box"><img src="../img/scepter_13.jpg" alt="window panes"></div>
					</div>
					
<!--  Image row #3 -->	
					<div class="img-item-row">
						<div class="img-box"><img src="../img/scepter_14_.jpg" alt="window panes"></div>
						<div class="img-box"><img src="../img/scepter_15.jpg" alt="window panes"></div>
					</div>
					
<!--  Image row #4 -->	
					<div class="img-item-row">
						<div class="img-box"><img src="../img/scepter_3.jpg" alt="window panes"></div>
						<div class="img-box"><img src="../img/scepter_6.jpg" alt="window panes"></div>
					</div>	
					
<!--  Image row #5 -->
					<div class="img-item-row">
						<div class="img-box"><img src="../img/scepter_5.jpg" alt="window panes"></div>
						<div class="img-box"><img src="../img/scepter_7.jpg" alt="window panes"></div>
					</div>

				</div>
			</div>
		</section>	
	</main>

	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="#">Twitter</a>
				<a href="#">LinkedIn</a>
				<a href="#">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Scepter Fabricators<br>
				Annex, Eldoret, Off Nairobi - Nakuru Road,<br>
				P.O. Box 6322 - 30100, Eldoret<br><br>
				farmsscepter@gmail.com &nbsp;|&nbsp; 
				farmsscepter@scepterfabricators.com <br>
				+254722559900 &nbsp;|&nbsp; +254739261447<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				&copy 2020. All Rights Reserved.
			</p>

		</div>
	</footer>

	<script src="../js/main.js"></script>

</body>
</html>